body {
    height: 100vh;
    margin: 0;
    background-image: url(https://img.freepik.com/free-photo/businessman-with-umbrella-rainy-city_53876-98407.jpg);
    background-position: center;
    background-size: cover;
    font-size: 120%;
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 75px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}

.card {
    background-color: rgba(173,216,230,.6);
    color: rgb(91, 91, 91);
    padding: 1em;
    width: 100%;
    max-width: 375px;
    height: 100%;
    max-height: 375px;
    margin: 1em;
    left: 47px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-family: forma-djr-text, sans-serif;
    
}

#artistVideo {
    background-color: rgba(173,216,230,.6);
    padding: 1em;
    width: 100%;
    max-width: 650px;
    height: 100%;
    margin: 1em;
    font-family: forma-djr-text, sans-serif;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: .5em;
    border: none;
    height: 2.5em;
    width: 2.5em;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .4em 1em;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 105%;
    width: calc(100% - 100px);

}

button:hover {
    background: #efe6e6f6;
}

h1.temp {
    margin:0;
    margin-bottom: .4em;
}


.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
}

.header {
    padding: 20px;
    text-align: left;
    color: rgba(255, 0, 0, 0.9);
    font-size: 6rem;
    margin-top: 30px;
    margin-bottom: 10px;
    right: 50px;
    font-family: ohm-bold, sans-serif;
    font-weight: 2000;
    font-style: oblique;  
    max-width: 100%;
}

.fade-in {
    animation: fadeIn 2s;
  }
  
@keyframes fadeIn {
    from {
      opacity: 0;
  
    }
    
    to {
      opacity: 1;
    }
}

#youtubeContainerTitle {
    padding: 1px;
    margin-top: 10px;
    color: rgb(91, 91, 91);
    text-align: center;
    font-family: forma-djr-text, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
}

#videoContainer {
    width: 640px;
    height: 360px;
}

#embedVideoOne {
    width: 640px;
    height: 360px;
}